{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='profile-container'>
    <div>
        {% if request.user.is_authenticated %}
            <img src="{% static 'avatars/avatar_2.jpg' %}" alt='' with='60px' height='60px'>
        {% else %}
            <img src='{% static "avatars/default_avatar.jpg" %}' alt='Default Avatar' class='profile-avatar'>
        {% endif %}
        <h2> {{ user.username }} </h2>
        <p> {{ user.email }} </p>
    <div>
    <div class='profile-stats'>
        <p>Posts: {{total_posts}} </p>
        <p>Likes: {{total_likes}} </p>
    </div>

    <div>
        {% if request.user.is_authenticated %}
            <a href= {% url "update_profile" %} class='btn btn-primary'>Edita Perfil</a>
        {% endif %}
    </div>
    
</div>
{% endblock content %}